<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.android.wewin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_login_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_login_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.ReleaseHomeworkActivity" />
        <activity android:name=".ui.activity.ReleaseTaskActivity" />
        <activity android:name=".ui.activity.DetailActivity" />
        <activity android:name=".ui.activity.HelpActivity" />
        <activity
            android:name=".ui.activity.ContactActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.ClassActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.PersonActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <!--
            <activity
            android:name=".ui.activity.UserInformation"
            android:parentActivityName=".ui.activity.PersonActivity" />
        -->


        <!-- <receiver -->
        <!-- android:name=".ui.broadcast.AppRegister" -->
        <!-- android:permission="com.tencent.mm.plugin.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity android:name=".ui.activity.ReleaseClassActivity" />
        <activity android:name=".ui.activity.TaskDetailActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.project.android.wewin.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- <activity android:name=".wxapi.WXEntryActivity" -->
        <!-- android:exported="true"/> -->

        <activity android:name=".ui.activity.GroupActivity" />
    </application>

</manifest>